DATABASE_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
# NEXTAUTH_URL="https://akademiks.studentto.ru"
NEXTAUTH_URL="http://localhost:3001"

# Next Auth Discord Provider
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GOOGLE_API_EMAIL=""
GOOGLE_API_KEY=""
GOOGLE_SPREADSHEET_ID=""

NEXT_PUBLIC_VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""